# meshcore-proxy endpoint
PROXY_HOST=127.0.0.1
PROXY_PORT=5000

# AUS Meshcore broker
MQTT_HOST=mqtt.digitaino.com
MQTT_PORT=443
MQTT_TLS=true
MQTT_TRANSPORT=websockets
MQTT_USERNAME=__USERNAME__
MQTT_PASSWORD=__PASSWORD__
MQTT_IATA=__IATA__
